<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <title>{% block title %}proyecto_zet{% endblock %}</title>
  {% block stylesheets %}

  <!--<link rel="stylesheet"type="text/css" href="{{asset('css/bootstrap.min.css') }}">-->
<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />




<!--<link href="{{ asset('css/bootstrap2.min.css') }}" type="text/css" rel="stylesheet" /> -->

    {% endblock %}

    <link rel="shortcut icon" type=imagen/x-icon href="img/logotipo.png">


<!-- NAVEGADOR CRISTIAN
 <nav class="navbar navbar-inverse">
  <a class="navbor-brand" href="{{ path('zet_homepage') }}">CMS</a>
  <a class="navbor-brand" href="{{ path('rutazet') }}">SIG</a>
</nav>
FIN NAVEGADOR CRISTIAN-->

  <body>
<!--inicio de nevegador bootstrap-->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{path('zet_homepage')}}">ZET KINGDOM</a>
  </div>
  <ul class="nav navbar-nav">
    <li ><a href="{{path('zet_homepage')}}">Home</a></li>
    <li><a href="{{path('rutazet')}}">Zelda</a></li>
    <li><a href="{{path('otrozet')}}">Fire Emblem</a></li>
    <li><a href="{{path('staruta')}}">Earth Bound</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{{path('rutaUsuarios')}}"><span class="glyphicon glyphicon-user"></span> Suscribirse</a></li>
    <li><a href="{{path('rutagamer')}}"><span class="glyphicon glyphicon-log-in"></span> Miembros</a></li>
  </ul>
</div>
</nav>
<!--final del navegador bootstrap-->





    <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
      <li data-target="#carousel-example" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <a href="#"><img src="img/Cuphead2.jpg" /></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="#"><img src="img/firea1.jpg"/></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="#"><img src="img/Origins2.jpg"  /></a>
        <div class="carousel-caption">
        </div>
      </div>
       <div class="item">
        <a href="#"><img src="img/slide2.jpg" /></a>
        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>


    <!-- termina el nav -->

    <!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Seleccion de Reseñas
        <small>Reseñas personales y centradas</small>
      </h1>

      <!-- Blog Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="img/TLOZMM.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">The Legend of Zelda</h2>
          <p class="card-text">The leyend of Zelda es una de las sagas mas conocidas de nintendo es muy extensa en historia y en factores de fantacia que lo hacen unos de los mejores juegos de calabosos y mundo avierto de los tiempos. En este caso Majora´s Mask rompio el estereotio de juego inocente o con trama simplona y alegre que los juegos de aquellos tiempos tenian, a mi parecer este juego fue echo para personas que buscan un reto y una historia centrada en la espernza de un nuevo amanecer, Este juego esta catalogado como el mas sombrio de la saga, especulaciones dicen que fue or el poco tiempo que le dieron a los desarroadores para acabarlo, faltando una que otra revicion en la historia... </p>
          <a href="{{path('rutazet')}}" class="btn btn-primary">seguir leyendo &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posteado en Noviembre 7, 2017 por
          <a href="{{path('zet_homepage')}}">Christian</a>
        </div>
      </div>

      <!-- Blog Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="img/firepro.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Fire Emblem</h2>
          <p class="card-text">Juego propiedad de Nintendo y desarrollado por Inteligent´s Sistem´s es un juego de RPG por turnos que se basa en aventura fantástica con temática de Caballeros, magos y Dragones Legendarios, este juego tiene una larga historia en el mercado, iniciando como juego único de Japón, se hizo famoso gracias a sus personajes que salieron en el Smash Bros Melee "El legendario primer rey joven portador de la Falchion, Marth" y "El héroe hijo de Eliwood, portador de las llamas flameantes, Roy", Aunque en la época de la nintendo Ds este empezó a decaer mucho en ventas y en fama... </p>
          <a href="{{path('otrozet')}}" class="btn btn-primary">Seguir leyendo &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posteado en Noviembre 7, 2017 por
          <a href="{{path('zet_homepage')}}">Christian</a>
        </div>
      </div>

      <!-- Blog Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="img/mother33.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Mother (Earth Bound)</h2>
          <p class="card-text">Mother en Oriente, pero, conocido como Earth Bound en Occidente es un juego que inicio en a NESS, este juego revoluciono a los RPG ya que este juego teniendo todos los elementos de un juego RPG, tenía una temática de la vida actual y mas caricaturesca, pero sin perder la esencia de ser un juego serio, con una historia compleja y con las dinámicas de juego entretenidas y únicas...</p>
          <a href="{{path('staruta')}}" class="btn btn-primary">Seguir leyendo &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posteado en Noviembre 7, 2017 por
          <a href="{{path('zet_homepage')}}">Christian</a>
        </div>
      </div>
      <!--termina el contenido-->
      <!-- Pagination -->
<ul class="pagination justify-content-center mb-4">

</ul>

</div>

<!-- Sidebar Widgets Column -->
<div class="col-md-4">

<!-- Search Widget -->
<div class="card my-4">
  <h5 class="card-header">Buscar</h5>
  <div class="card-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>

<!-- Categories Widget -->
<div class="card my-4">
  <h5 class="card-header">Categorias</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Reseñas</a>
          </li>
          <li>
            <a href="#">Recomendaciones</a>
          </li>
          <li>
            <a href="#">Bitacora</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">3DS</a>
          </li>
          <li>
            <a href="#">Xbox 360</a>
          </li>
          <li>
            <a href="#">Nintendo switch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Side Widget -->
<div class="card my-4">
  <h5 class="card-header">Bienvenidos</h5>
  <div class="card-body">
    Esta páguina fue echo de manera personal, pero con el proposito de ayudar o hacer que las personas entiendan mas sobre juegos que casi no se conocen, pero, que son una joya de los videojuegos
  </div>
</div>

</div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->
{% block view %}

{% endblock %}
<!-- footer-->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3><strong>Location</strong></h3>
                    <h4><b>Universidad Autonoma de Nuevo Leon<br> San Nicolás de los Garza</b></h4>
                </div>
                <div class="footer-col col-md-4">
                <h3><b>Nuestras redes sociales</b></h3>


                        <ul class="social-network social-circle list-inline">
                        <li><a href="" class="icoRss" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/?hl=es" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>


                    </ul>
                </div>
                <div class="footer-col col-md-4">

                    <img src="img/logotipo.png" class= "logo_footer">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <h4><b> Copyright &copy; Christian Fernando Rodríguez Castillo</b></h4>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--final de footer-->

    <!--
    <h1><P ALIGN=center>PROYCETO ZET</h1>
    <p><P ALIGN= center> Reseñas geniales y centradas</p>
    <hr>

    <h1>Esto es del layout</h1>
  <pre>
    Este parrafo
    sera un hermoso
    poema
  </pre>
    <h1>no se crea</h1>
  -->

<script src="{{ asset('js/jquery-3.2.1.min.js') }}" charset="utf-8"></script>
<script src="{{ asset('js/bootstrap.min.js') }}" charset="utf-8"> </script>
<script src="{{ asset('js/bootstrap.js') }}" charset="utf-8"> </script>
  </body>
</html>
