
{% extends "layout.html.twig" %}
{% block view %}
{{parent()}}
<!--
<form  method="post" action="{{ path('rutaFormula') }}">
  nombre    <input type="text"  name="nombre" value=""> <br><br>
  apellidos <input type="text"  name="apellidos" value=""><br><br>
  edad      <input type="text"  name="edad" value=""><br><br>
  e-mail    <input type="text"  name="email" value=""><br><br>
  ocupacion <input type="text"  name="ocupacion" value=""><br><br>
  <input type="submit"  name="submit" value="enviar"><br><br>
</form>

<h1 style="color:GREEN">varphp1+varphp2= {{ varphp1+varphp2 }} </h1>
<h1>Hola a todos esto es del BUNDLE</h1>
<img src="{{ asset('img/kof.gif') }}" width="500" height="500" border="0">
<img src="{{ asset('img/kof2.gif') }}" width="500" height="500" border="0">
-->
{% endblock %}
